*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;  
}
body{
    scroll-behavior: smooth;
}

@media (max-width: 576px){
    .text-white{
        margin-top: 50px;
    }
    #about{
        margin-top: 30px;
    }
    
}

.nav-item:hover{
  color: #FFC107;
}

#mdremove{
  display: none;
}

#exp{
    background-image: image-set('istockphoto-1288385045-612x612.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.card > img{
  width: 100px;
  height: 100px;
}
.card{
   background-color: rgba(37, 37, 37, 0.952);
   color: white;
}
.card:hover{
  background-color: darkgoldenrod;
  color: black;
}


.timeline-item {
  display: flex;
  margin-bottom: 30px;
  position: relative;
}


.timeline-content {
  border-radius: 5px;
  margin-left: 20px;
  flex-grow: 1;
}

.timeline h2 {
  color: white;
}

.timeline p {
  color: whitesmoke;
}

#reference{
  transition: background-color 0.3s ease;
}
#reference:hover{
  color: #FFC107;
}
