*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
    
}


@media (max-width: 576px){
    .text-white{
        margin-top: 50px;
    }
    #about{
        margin-top: 30px;
    }
    #smremove{
      display: none;
    }
}

@media (max-width: 756px){
  #smremove{
    display: none;
  }
}

#exp{
    background-image: image-set('istockphoto-1288385045-612x612.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.card > img{
  width: 100px;
  height: 100px;
}
.card{
   background-color: grey;
}
.card:hover{
  background-color: darkgoldenrod;
}


.timeline-item {
  display: flex;
  margin-bottom: 30px;
  position: relative;
}


.timeline-content {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-left: 20px;
  flex-grow: 1;
}

.timeline h2 {
  color: #333;
}

.timeline p {
  color: #666;
}

#reference{
  transition: background-color 0.3s ease;
}
#reference:hover{
  color: #FFC107;
}